body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: Poppins;
    color: #e1eeef;
}
.fondo{
        background-image: url('Fondo_antartuda.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed
 }

 #titulo{
    text-align: center;
}
.header {
    display: flex;
    text-align: center;
    background-color: #15395D;
    justify-content: space-between;
    font-family: Poppins; 
}
.img1{
    height: 150px;
    width: 150px; 
    padding-left: 50px;  
}
.img2{
    height: 220px;
    width: 220px;
}
.divimg{
    text-align: center;
    padding-top: 50px;
}
header li{
    display: inline-flex;
    margin-right: 40px
}
header ul{
    text-align: center;
    padding-top: 40px;
}
.boton {
    background-color: #e1eeef;
    color: #000000;
    padding: 7px 7px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
    border: none;
}

.header ul li a button:hover {
    background-color: #8b8b8b;
    transition: 200ms;
}
.cuadroprin h2 {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.cuadroprin{
    height: auto;
    width: auto;
    margin: 35px 170px;
    padding: 70px 80px;
    background-color: #15395D;
    border-radius: 20px;
    text-align: center;
}
.cuadroprin1{
    height: auto;
    width: 40em;
    padding: 30px 80px;
    background-color: #15395D;
    border-radius: 20px;
    text-align: center;
    margin-left: 21em;
    margin-top: 35px;
    
}
.ftint{
    border-radius: 50%;
}
.href{
    color: rgb(255, 255, 255)
}
.href:hover {
    color: blue;
}
.contenido {
    padding: 20px 75px;
}
.cuadro {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 100px auto;
    background-color: #15395D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    
}
.contenido img{
    border-radius: 20px;
    width: 200px;
    height: 200px;
}
.contenidoa{
    text-align: center;
}
.botoncv{
    background-color: #e1eeef;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: Poppins;
}
    .botoncv:hover {
    background-color: #8b8b8b;
    transition: 200ms;
}

footer {
    background-color: #091c38;
    height: 80px;
    width: 100%;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100%;
    position: absolute;

}


footer div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #15395D;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #091c38;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.btn-menu{
    font-size: 50px;
    padding-right: 90px;
    padding-top: 40px;
    
}

#img1 {
    margin-left: 28em;
    width: 39em;
    height: 10em;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    
    url(https://img.freepik.com/fotos-premium/grupo-personas-poniendo-sus-manos-juntas_804007-6963.jpg);
}
#img2 {
    margin-left: 28em;
    width: 39em;
    height: 10em;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://arc-anglerfish-arc2-prod-elespectador.s3.amazonaws.com/public/OEBKWFPGR5HH3IYYORUEWECRDI.jpg);
}
#img3 {
    margin-left: 28em;
    width: 39em;
    height: 10em;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://es.greenpeace.org/es/wp-content/uploads/sites/3/2020/02/GP0STUG9T_Medium_res_with_credit_line-1200x630-c-default.jpg);
}
.textoimag {
    text-align: center; 
    padding-top: 100px;
    color: #fff;
}
.textoimag3{
    text-align: center; 
    padding-top: 90px;
    padding-bottom: 20px;
    color: #fff;
}
.link{
    color: #fff;
}
.cuadrolineas{
    width: 600px;
}
.contador{
    height: auto;
    width: auto;
    margin: 35px 40em;
    padding: 5px;
    background-color: #15395D;
    border-radius: 20px;
    text-align: center;
}
.secContacto {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #15395D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.secContacto p {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.labelCon{
    display: block;
    margin-bottom: 8px;
}
.input,
.textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonCon {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.buttonCon:hover {
    background-color: #fff;
    color: #000000;
    transition: 300ms;
}
#icoft{
    height: 60px;
    width: 70px;
    margin-top: 10px;
    
}
#icoftua{
    height: 40px;
    width: 67px;
    margin-top: 10px;
}
.conttur {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

@media all and (max-width: 700px){
    body{
        padding: 0px;
        margin: 0px;
        background-color: rgb(255, 255, 255);
        font-family: Poppins;
        color: #e1eeef;
    }
    .fondo{
            background-image: url('Fondo_antartuda.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed
     }
    
     #titulo{
        text-align: center;
    }
    .header {
        display: flex;
        text-align: center;
        background-color: #15395D;
        justify-content: space-around;
        font-family: Poppins; 
    }
    .img1{
        height: 70px;
        width: 70px; 
        padding-left: 1px;  
        padding-top: 10px;
    }
    .img2{
        height: 150px;
        width: 150px;
    }
    .divimg{
        text-align: center;
        padding-top: 50px;
    }
    header li{
        display: inline-flex;
        padding: 1px;

    }
    header ul{
        text-align: center;
        padding-top: 10px;
        justify-content: space-between;
    }
    .boton {
        background-color: #e1eeef;
        color: #000000;
        padding: 7px 7px;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        font-family: Poppins;
        border: none;
        font-size: 10px;
        padding: 5px;
    }
    
    .header ul li a button:hover {
        background-color: #8b8b8b;
        transition: 200ms;
    }
    .cuadroprin h2 {
        border-bottom: 2px solid rgb(255, 255, 255);
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .cuadroprin{
        height: auto;
        width: auto;
        margin: 50px 50px;
        padding: 40px 80px;
        background-color: #15395D;
        text-align: center;
        border-radius: 20px;
        font-size: small;
    }
    .cuadroprin p{
        font-size: small;
    }
    .ftint{
        border-radius: 50%;
    }
    .href{
        color: rgb(255, 255, 255)
    }
    .href:hover {
        color: blue;
    }
    .contenido {
        padding: 20px 30px;
        font-size: x-small;

    }
    .cuadro {
        display: flex;
        justify-content: space-around;
        width: 300px;
        max-height: auto;
        margin: 40px;
        background-color: #15395D;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        right: 20px;
        
    }
    .contenido img{
        border-radius: 20px;
        width: 200px;
        height: 200px;
    }
    .contenidoa{
        text-align: center;
    }
    .botoncv{
        background-color: #e1eeef;
        color: #000000;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        font-family: Poppins;
    }
        .botoncv:hover {
        background-color: #8b8b8b;
        transition: 200ms;
    }
    
    footer {
        background-color: #091c38;
        height: 80px;
        width: 100%;
        color: white;
        font-weight: 200;
        align-items: center;
        font-size: 15px;
        padding-bottom: 0%;
        top: 345rem;
        display: flex;
    }
    
    footer div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        font-size: small;
        
    }
    input:checked~ul{
        display: block;
        position: absolute;
        right: 130px;
        z-index: 1;
    }
    .imgint{
        max-width: 100px;
        max-height: 100px;
    }
    .btn-menu{
        font-size: 40px;
        padding-left: 120px;
        padding-right: 5px;
        padding-top: 15px;
        
    }
    .cont-menu{
        width: 50%;
        max-width: 250px;
        background: #15395D;
        height: 130vh;
        position: relative;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }
    .container-menu{
        position: absolute;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 130vh;
        top: 0;left: 0;
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
    }
    #img1 {
        margin-left: 39px;
        margin-top: 30px;
        width: 333px;
        height: 200px;
        background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(https://img.freepik.com/fotos-premium/grupo-personas-poniendo-sus-manos-juntas_804007-6963.jpg);
    }
    #img2 {
        margin-left: 39px;
        width: 333px;
        height: 200px;
        background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(https://arc-anglerfish-arc2-prod-elespectador.s3.amazonaws.com/public/OEBKWFPGR5HH3IYYORUEWECRDI.jpg);
    }
    #img3 {
        margin-left: 39px;
        width: 333px;
        height: 200px;
        background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(https://es.greenpeace.org/es/wp-content/uploads/sites/3/2020/02/GP0STUG9T_Medium_res_with_credit_line-1200x630-c-default.jpg);
    }
    .cuadroprin1{
        height: auto;
        width: 11em;
        padding: 30px 80px;
        background-color: #15395D;
        border-radius: 20px;
        text-align: center;
        margin-left: 36px;
    }
    .cuadrolineas{
        width: 200px;
        display: flex;
    }
    .secContacto{
        height: auto;
        width: 11em;
        padding: 30px 80px;
        background-color: #15395D;
        border-radius: 20px;
        text-align: center;
        margin-left: 36px;
    }
    

}